extends layout

block content
  h1= title
  
  a(href="/fibonacci"): div(class="badge") Fibonacci
  a(href="/simple"): div(class="badge") Calculadora Simple
  //a(href="/compleja"): div(class="badge") Calculadora Compleja
  a(href="/palindromo"): div(class="badge") Palindromo
  a(href="/conjunto"): div(class="badge") Conjuntos